<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      layout:decorate="~{admin/layouts/template}">
<body>
<div layout:fragment="content" th:remove="tag">


<!-- breadcrumb Start -->
<ol class="breadcrumb">
 <li class="breadcrumb-item">
   <a href="#">Users</a>
 </li>
 <li class="breadcrumb-item active">Create</li>
</ol>
<!-- breadcrumb End -->
<th:block th:replace="admin/layouts/partials/flash-message :: flash-message"/>

<div class="card mb-3">
  <div class="card-header">Create User</div>
  <div class="card-body">
    <form method="POST" th:action="@{/admin/user}" th:object="${user}">

    <div class="alert alert-danger alert-block" th:if="${#fields.hasErrors('global')}">
      <button type="button" class="close" data-dismiss="alert" th:if="${#fields.hasErrors('global')}">×</button>
      <strong th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Error</strong>
    </div>

    <div class="card border-dark">
          <div class="card-header">
            Login Information
          </div>
          <div class="card-body text-dark">
              <div class="form-group">
                <label for="email">Email address</label>
                <input class="form-control" id="email" th:field="*{email}" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">errors</span>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="password">PasswordXXX</label>
                    <input class="form-control" id="password" th:field="*{password}" type="password" placeholder="Password">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">errors</span>

                  </div>
                  <div class="col-md-6">
                    <label for="confirm_password">Confirm password</label>
                    <input class="form-control" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm password">
                    <span th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}" class="text-danger">errors</span>
                  </div>
                </div>
              </div>
          </div>
    </div>
    <br />
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <label for="name">First name</label>
            <input class="form-control" th:field="*{name}" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">errors</span>
          </div>
          <div class="col-md-6">
            <label for="surname">Last name</label>
            <input class="form-control" id="surname" th:field="*{surname}" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="text-danger">errors</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <label for="mobile">Mobile</label>
            <input class="form-control" id="mobile" th:field="*{mobile}" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
            <span th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="text-danger">errors</span>
          </div>
          <div class="col-md-6">
            <label for="age">Age</label>
            <input class="form-control" id="age" th:field="*{age}" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger">errors</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-md-6">
            <label for="address">Address</label>
            <input class="form-control" id="address" th:field="*{address}" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">errors</span>
          </div>
          <div class="col-md-6">
            <label>City</label>
            <select class="form-control"  th:field="*{city}">
              <option value=""> --- Select City ---- </option>
              <option th:each="city : ${cities}"
                      th:value="${city.key}"
                      th:text="${city.value}"
                      th:selected="${city == city.key}">
            </select>
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger">errors</span>
          </div>
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary">&nbsp;
      <input type="reset" value="Reset" class="btn btn-danger">

    </form>
  </div>
</div>

</div>
</body>
</html>