<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">
    <h1>SimpleGet</h1>
    <div class="row">
        <div class="col-md-12">
            <h1> Users </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Email </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td><span th:text="${item.name}"> Name </span></td>
                    <td><span th:text="${item.email}"> Email </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/admin/user/create}"> Add User </a>
            <a class="btn btn-primary" href="#" th:href="@{/admin/user/edit}" th:classappend="${items.empty} ? 'disabled' : ''"> Edit Books </a>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" th:src="@{/js/main.js}"></script>
</html>