<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Title</title>
</head>
<body>
    <h1>Test</h1>
</body>
</html>